*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
.hero{
height:105vh;
width:100%;
}
.op {
    width: 60%;
    margin:8% 8%;
  }
.beige{
    padding-top: 20px;
background: linear-gradient(90deg, rgba(201,173,129,1) 0%, rgba(149,107,79,1) 100%);
}
nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
    scroll-padding-top: 45px;
    padding-left: 8%;
    padding-right:8%;
}
.logo{
    color:#312a1d;
    font-size:37px;
    letter-spacing: 1px;
    cursor:pointer;
    font-family: 'Poppins', sans-serif;
      font-weight: 600;
}
nav ul li{
    list-style: none;
    display:inline-block;
    margin-top: 10px;
    padding:20px 25px;
    font-family: 'Poppins', sans-serif;
    font-size:17px;
}
nav ul li a{
    color:white;
    text-decoration: none;
    font-weight: 375;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: #312a1d;
    transition: .4s;
}
.btn{
    background-color: ;
}
.button-50 {
    appearance: button;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #000 4px 4px 0 0, #000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    margin: 0;
    overflow: visible;
    padding: 10px 24px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
  }
  .button-50:focus {
    text-decoration: none;
  }
  .button-50:hover {
    text-decoration: none;
    background-color: #D0B49F;
  }
  .button-50:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
  }
  .button-50:not([disabled]):active {
    box-shadow: #C9BBCF 2px 2px 0 0, #312a1d 2px 2px 0 1px;
    transform: translate(2px, 2px);
  }
  .ko {
    background-color: #7d5c43;
  }
  .mainheading{
    text-align: left;
    padding:12% 16%;
    white-space: nowrap;
  }
  h1{
    color:#140e0a;
    font-family: 'Noto Serif Display', serif;
    font-weight: 600;
    font-size: 60px;
    letter-spacing: 2px;
  }
  h3{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    margin-bottom: 35px;
    color: #422e1f;
    margin-top: 20px;
  }
  h4{
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    color: #302013;
  }
  .Newsletter form{
    width:380px;
    max-width:110%;
    position:relative;
  }
  .Newsletter form input:first-child{
    display:inline-block;
    width:100%;
    padding: 10px 100px 10px 15px;
    border:4px solid #312a1d
    outline:none;
    border-radius:6px;
  }
  .button-54 {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #302013;
    cursor: pointer;
    border: 3px solid;
    padding: 0.20em 0.3em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left:8px ;
  }
  
  .button-54:active {
    box-shadow:#302013 ;
    top: 5px;
    left: 5px;
  }
  .about{
    width:100%;
    padding:100px 0px;
    background: #FDF4E3;
  }
  .about img{
    height:auto;
    width:430px;
    margin-left: 24%;
  }
  .about-text{
    width:550px;
    margin-top: 10%;
    margin-right:17% ;
  }
.main{
    width:1130px;
    max-width:95%;
    margin:0 auto;
    display:flex;
    align-items:center;
    justify-content: space-around;
}
.abome1{
    font-family: 'Poppins', sans-serif;
    color: #140e0a;
    font-size: 55px;
    margin-bottom: 25px;
}
.abome2{
    font-family: 'Poppins', sans-serif;
    font-size:22px;
    color: #221913;

}
.quote{
    font-family: 'Source Serif Pro', serif;
        font-weight: bold;
    font-size:18px;
    letter-spacing: 2px;
    margin-top: 20px;
    color:#32241a ;
    line-height: 25px;

}
 .abome3{
    font-family: 'Poppins', sans-serif;
    color: #32241a;
    line-height: 25px;
    font-size: 17px;
 }
 .gh{
    margin-top:20px;
 }
.servi{
  width:100%;
  padding:120px 0px;
  background: linear-gradient(to right, rgba(149,107,79,1), rgba(201,173,129,1));

}
.title h2{
  color:#221913;
  font-size: 60px;
  width:1130px;
  margin:24px auto 65px auto;
  text-align:center;
}
.box{
  display:flex;
  justify-content:center;
  align-items: center;
  min-height: 400px;
}
.cardi{
  height:380px;
  width:335px;
  padding:20px 35px;
  background: linear-gradient(90deg, rgba(201,173,129,1) 0%, rgba(149,107,79,1) 100%);

  border-radius: 20px;
  margin:26px;
  position:relative;
  overflow:hidden;
  text-align: center;
}
h5{
  color:#140e0a;
  font-weight: 500;
  margin-bottom: 15px;
}
.pra p{
  color: #302013;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 20px;;
}
.contact-me{
  width:100%;
  height:600px;
  background:  #FDF4E3;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.contact-me p{
  color:#140e0a;
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 25px;
}
.kn{
  margin;
}
footer{
  position:relative;
  width:100%;
  height:400px;
  background: linear-gradient(90deg, rgba(201,173,129,1) 0%, rgba(149,107,79,1) 100%);
display: flex;
flex-direction:column;
align-items: center;
justify-content: center;
}
footer p:nth-child(1){
  font-size:30px;
  color:#221913;
  margin-bottom: 20px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}
footer p:nth-child(2){
  color:#32241a;
  font-size: 17px;
  width:500px;
  text-align:center;
  line-height: 26px;
  font-family: 'Poppins', sans-serif;
}
.social{
  display: flex;
}
.social a{
  width: 45px;
  height: 45px;
  display: flex;
align-items: center;
justify-content: center;
text-decoration: none;
margin: 18px 10px;
font-size: 20px;
}
.nb {
  color: #221913;
  font-size: 30px;
}
.nb:hover {
  color: #FDF4E3;
}
.end{
  position: absolute;
  color: #140e0a;
  bottom: 35px;
  font-size: 14px;
}